@font-face {
    font-family: 'MonR';
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'MonSB';
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

// ОБЩЕЕ

body {
  font-family: 'MonR';
}

h1 {
  margin: 0;
}


.containers {
   width: 1179px;
  margin: 0 auto;

  @media (max-width: 1200px){
    width: 91%;
  }
}

/* HEADER 1 */
.title {
    font-family: 'MonSB';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;      
    text-transform: uppercase;    
    color: #181717;
}

// /* HEADER 4 */ catalog-tovarov
.title4 {
  font-family: 'MonSB';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #181717;
}

//HEADER 5 
.title5 {
  font-family: 'MonSB';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #181717;
}

* {
    box-sizing: border-box;  /* width(или height) + border + padding = 100% */
  }

  .cart_icon {
    padding: 5px;
    margin-bottom: 3px;
   }



// ОБЩЕЕ -----------------------------------

// Новинки
  .wrapper-novinki {
      background: #FBFBFB;
      padding: 20px;
  }

  .span-card-new{
    width: 57px;
    height: 28px;
    background:linear-gradient(-55deg, transparent 15px, #BB9930 0);
    color: #ffffff;

  }
  // Хиты продаж
  .wrapper-hits {
    background: #ffffff;
    padding: 20px;
  }

.span-card-hits{
  width: 57px;
  height: 28px;
  background:linear-gradient(-55deg, transparent 15px, #0077FE 0);
  color: white;
}

  // Хиты акции
  .wrapper-action {
    background: #FBFBFB;
    padding: 20px;
  }

.span-card-action{
  width: 57px;
  height: 28px;
  background:linear-gradient(-55deg, transparent 15px, red 0);
  color: white;
}


//Карточка товара ДИЗАЙН  
.products {
  display: flex;
.product-name {
  font-family: 'MonR';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding-left: 15px;
  padding-right: 15px;


  @media (max-width: 1200px){
    font-size: 14px;
  }

  @media (max-width: 690px){
    font-size: 12px;
  }
}


.block-product-info{
  font-family: 'MonR';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #181717;
  padding: 0 15px 0 15px;


}

.calc{
  padding: 10px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  height: 15px;
  margin-top: 10px;

  @media (max-width: 989px){
    font-size: 12px;
  }

  @media (max-width: 764px){
    font-size: 10px;
  }

  //указываем высоту блока чтобы работало!
  .prop {
    width: 100%;
    overflow: hidden;
    color: #181717;
  }
}

.prop {
  padding-right: 10px;
}

.card-price {
    margin-bottom: 15px;
    margin-top: 15px;
}

.card-options{
    display: flex;
    justify-content: space-between;
}

.product-card {
  width: 280px;
  margin: 0 20px 30px 0;
  border: 1px solid #EFEFEF;
  flex-grow: 1;
  flex-basis: 16%;
  background: #ffffff;
  padding-bottom: 20px;
}



.product-image img {
  max-width: 100%;
}

button.add-card {
    width: 100%;
    background: #4D4B4A;
    border-radius: 5px;
    height: 35px;
    color: #ffffff;
    padding: 1%;

    @media (max-width: 420px) {
      font-size: 11px;

      .cart_icon {
        display: none;
      }
    }

    // @media (max-width: 332px) {
    //   font-size: 11px;
    // }

}

@media (max-width: 920px) {
  .product-card {
      flex: 0 30%;
      //flex-grow: 1;
  }
}

@media (max-width: 700px) {
  .product-card {
      flex: 0 46%;
      //flex-grow: 1;
  }
}
}

// КАРТОЧКА ТОВАРА ДИЗАЙН-----------------------------------------------------


//КАРТОЧКА ТОВАРА главная
//скрыть товары если не помещается в строку
.wrapper-novinki, .wrapper-hits, .wrapper-action, .single-after-see, .single-recomendation {
    overflow: hidden;
    .products {
        display: flex;
        width: 1200px;
        height: auto;

        //отображать 2 товара на мобильной версии
        @media (max-width: 600px){
          .product-card {
            flex: 0 12%;
          }
        }

    }
  
}
//КАРТОЧКА ТОВАРА главная -------------------------



// Бренды
.wrapper-brands {
  background: #ffffff;
  padding: 20px;
  .span-card{
    width: 57px;
    height: 28px;
    background:linear-gradient(-55deg, transparent 15px, red 0);
    color: white;
  }
}

button.brand {
  border: 1px solid #BB9930;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  background: #ffffff;
  color: #BB9930;

  &:hover{
    background: #BB9930;
    color: #ffffff;
  }
}

// Категории
.wrapper-categories {
  background: #ffffff;
  margin-bottom: 20px;

  .title{
    padding: 20px;
  }

  @-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}
 
@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}
 
@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}
 
.main-categories{
  height: 100px;
  background: black;
  color: #ffffff;
    span {
      padding-right: 20px;
    }
}
.center {
  text-align: center;
  line-height: 100px;
}  
}



// FOOTER
.footer {
  background: black;
  color: white;
  padding: 20px 0;
  margin-top: 40px;
}


.footer-items{
  display: flex;
  flex-wrap: wrap;
}

.footer-menu {
  padding: 15px;
  margin: 0 20px 30px 0;
  flex-grow: 1;
  flex-basis: 16%;
  align-items: center;
  justify-content: center;

  .footer-logo {
    margin-bottom: 25px;
  }

  .menu-items {
    font-family: 'MonSB';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    

  }

  .footer-header{
    font-family: 'MonR';
    font-size: 20px;
    margin-bottom: 15px;
  }

  .tel {
    margin-bottom: 10px;
  }

  .icon-bar {
    display: flex;
    margin-bottom: 15px;

    i {
      background-color: #8F8B8A;
      border-radius: 50px;
      padding: 10px;
      margin-right: 10px;
    }    
    
    .vk{
      &:hover {
        background: #0077FE;
      }
    }

    .youtube{
      &:hover {
        background: red;
      }
    }
}

.icon2{
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  img {
    margin-right: 20px;
  }
}
  
}

@media (max-width: 920px) {
  .footer-menu {
    flex: 1 40%;
  }
}

@media (max-width: 600px) {
  .footer-menu {
    flex: 1 100%;
  }
}
// footer------------------


.title {
    @media (max-width: 590px){
      font-size: 30px;
    }

    @media (max-width: 442px) {
      font-size: 23px;
    }

    @media (max-width: 390px) {
      font-size: 20px;
    }
}

.icons-left-right img {

  @media(max-width: 820px){
    width: 50px;
  }

  @media(max-width: 390px){
    width: 45px;
  }

  @media(max-width: 390px){
    width: 35px;
  }  
  
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3% 0;  
}

  .tapor {
    position: absolute;
    left: 15%;
    opacity: 0.4;
  }


  // SINGLE PRODUCT
 .breadcrumbs {
   margin: 30px 0 30px 0;
    span {


      @media (max-width: 770px) {
        font-size: 12px;
    
      }
    }
 }


// ХЛЕБНЫЕ КРОШКИ

// ХЛЕБНЫЕ КРОШКИ ----------


 .title-product {
  .title {
    margin: 15px 0 15px 0;
    
    @media (max-width: 1024px) {
      font-size: 30px;
    }

    @media (max-width: 768px) {
      font-size: 25px;
    }

    @media (min-width: 320px) and (max-width: 768px) {
      font-size: 20px;
    }
  }
 }

 .single-product {
  display: flex;
  flex-wrap: nowrap;
  //align-items: center;
  //justify-content: space-between;
  margin-bottom: 30px;
  //justify-content: center;
  

  @media (max-width: 770px) {
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .single_product_gallery {
    margin-right: 5%;

    @media (max-width: 770px) {
      margin-right: 0px;
    }
    }
    
  }

  .product_foto_block {

      .product_foto {
        // width: 580px;

        // @media (max-width: 1024px) {
        //   width: 440px;
        // }

        // @media (max-width: 850px) {
        //   width: 340px;
        // }

        // @media (max-width: 770px) {
        //   width: auto;
        // }

      }
  }



   .short_description {
          // width: 500px;
          padding-top: 5%;

          .single-properties {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 20px;
            // margin-left: 10%;
          
            //ТОЧКИ
            span {
              display: flex;
              align-items: flex-end;
            }
            div {
              flex: 1;
              height: 1px;
              border-bottom: 1px dashed #E3E3E3;
              position: relative;
              top: 15px;
              padding: 0 10px 0 10px;
              margin: 0 10px 0 10px;
            }
         }

        //  .name-propertires {
        //     margin-right: 5%;
        //  }

         .single-info {
            margin-top: 50px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 15px;
            color: #8F8B8A;
         }

         .single-price {
          margin-top: 50px;
          font-family: 'MonSB';
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          line-height: 34px;
         }

         .block-single-cart{
           display: flex;
           align-items: center;
           margin-top: 20px;

            .add-card {
              margin-right: 20px;
              width: 180px;
              height: 50px;
              font-family: 'MonSB';
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 20px;
              background: #4D4B4A;
              border-radius: 5px;
              color: #ffffff;
            }


            .single-calc {
              padding: 5px;
            }
           
         }

         .single-text {
            margin-top: 20px;
            color: #8F8B8A;
         }

         @media (max-width: 1024px) {
          font-size: 14px;
        }

        @media (max-width: 820px) {
          font-size: 12px;
          width: 100%;
        }

        @media (max-width: 770px) {
          width: 100%;
        }
   }
 

 .single-gallery {
   display: flex;
   img {
     margin-right: 10px;

      @media (max-width: 670px) {
        width: 70px;
        height: 70px;
      }
    
   }
 }

 .desctiption {
    margin-top: 80px;
    margin-bottom: 20px;
    .single-description-title {
      font-family: 'MonSB';
      font-size: 20px;
    }
 }



 .single-after-see {
  padding: 20px;
  background: #FBFBFB;
   .title {
    @media (max-width: 820px) {
      font-size: 30px;
    }
    @media (max-width: 630px) {
      font-size: 25px;
    }
    @media (max-width: 530px) {
      font-size: 20px;
    }

    @media (max-width: 460px) {
      font-size: 15px;
    }

    @media (min-width: 320px) and (max-width: 460px) {
      font-size: 13px;
    }
  }
}

.single-recomendation {
  margin-top: 20px;
}
 // SINGLE PRODUCT----------------------




 // КАТАЛОГ ПРОДУКТОВ
 .catalog_products {
      
    .none_product {
      width: 100%;
      height: 80px;
      text-align: center;
      background: #FBFBFB;
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;
    }
    
  /* Header 2 */
    .title-product .title {
      font-family: 'MonSB';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 49px;      
      text-transform: uppercase;    
      color: #181717;
    }

    .sidebar_attribute {
      margin: 30px 0 30px 0;
    }

  .catalog_tovarov {
    display: flex;

    .sidebar_block {
      width: 33%;
      margin-right: 20px;
      padding: 20px;
      background-color: #FBFBFB;

      @media (max-width: 1024px) {
        display: none;
      }
      .catalog_left_sidebar {
        font-size: 14px;
      }

      .sidebar_attribute {
        margin-bottom: 50px;
      }

      ul { 
        display: block;
        padding: 0;
        margin: 0;
        li {
          list-style-type: none;
          padding: 10px 0 10px 0;

            a {
              color: black;
              padding: 8px 16px;
              text-decoration: none;
              padding: 0;
              display: block;

              // &:active {
              //   font-family: 'MonR';
              //   font-style: normal;
              //   font-weight: 400;
              //   font-size: 14px;
              //   line-height: 17px;
              //   color: blue;
              // }
            }
        }
      }

                  ul li a.active {
                    font-family: 'MonR';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #7A631F;
                }
    }


      .products_block {
          .sort {
            display: flex;
            justify-content: space-between;

            .sort-attributes{
              display: flex;
              
              .marka {
                @media (max-width: 768px){
                  display: none;
                }
              }

              .brand, .marka {
                @media (max-width: 320px){
                  display: none;
                }
              }
            }

            select {
              margin: 0 20px 20px 0;
            }
          }
        .products {
          display: flex;
          flex-wrap: wrap;

          //РАСПРЕДЕЛИТЬ РОВНО ПО ВСЕМУ БЛОКУ
          justify-content: space-between;
            .product-card {
              flex: 0 30%;
            }

            @media (max-width: 920px) {
              .product-card {
                  flex: 0 29%;
              }
            }
          
            @media (max-width: 660px) {
              .product-card {
                  flex: 0 42%;
              }
            }
        }
      }
    

      .pagination {
          ul.pagination {
              display: inline-block;
              padding: 0;
              margin: 10px 0 10px 0;
          }

          ul.pagination li {display: inline;}

          ul.pagination li a {
              color: black;
              float: left;
              padding: 8px 16px;
              text-decoration: none;
          }

          ul.pagination li a.active {
              background-color: #BB9930;
              border-radius: 2px;
              color: white;
          }

          ul.pagination li a:hover:not(.active) {background-color: #ddd;}
                  .page-numbers {

                    // padding: 0.75em;
                    // margin: 0 5px 5px 0;
                    // color: #181717;
                    // border: 1px solid #d3ced2;


                  }
      }
  }
 }

  // КАТАЛОГ ПРОДУКТОВ -------------------------------


  //СРАВНЕНИЕ ТОВАРОВ

  .compare_section {
    .products_block {
      width: 1200px;

      .products { 
        overflow: hidden;


        // .product-card {
        //   justify-content: space-between;

        //   @media (max-width: 1024px){
        //     flex: 0 19%;
        //   }

        //   @media (max-width: 360px){
        //     flex: 0 13%;
        //   }
        // }
      }
    

    }

    table {
      border-collapse: collapse;
      margin: 0px auto;
      width: 100%;


      
      th, td {
  
        //border: solid 1px #000;
        padding: 15px;
        height: 94px;

        font-family: 'MonR';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

        .title5 {
          margin-bottom: 20px;
        }
        

        // @media (max-width: 1024px){
        //   width: 15%;
        // }
    
      }

      tr:nth-child(odd) {

        background-color: #FBFBFB;/* фон нечетных столбцов */
    
      }

      .compare_table_title {
        font-weight: bold;
      }

      
  
    }


  


  }























